{% extends "layout.html" %}

{% block main %}

<div class="container">
    <h1>Is your review positive, or negative?</h1>
    <p>Enter your review below and click submit to find out...</p>
    <form method="POST"
          action="/custom_review"
          onsubmit="return submitForm(this);" >                     <!-- HERE IS WHERE YOU NEED TO ENTER THE API URL -->
        <div class="form-group">
            <label for="review">Review:</label>
            <textarea class="form-control"  rows="5" name="review" id="review" placeholder="Please write your review here."></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <h1 class="bg-success" id="result"></h1>
</div>


{% endblock %}